/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-2-21, 0:06:24
    Author     : GUO
*/

 h1 {
    color: green;
    text-align: left;
}
table {
    border: 1px solid green;
}
th {
    color: white;
    background-color: #99cc00;
    text-align: center;
}
td {
    color: green;
    border: 1px solid green;
}